body{
    font-family: 'Montserrat', sans-serif;
    background:url('./images/avengers.jpg') ,
    linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6));
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; 
}

@media (max-width: 768px) {
    body {
        background-image: url('./images/thanos-mobile.jpg');
    }
}